body{
    font-size: 28px;
    background-color: rgb(33,37,41);
}

.list-group{
    overflow-y: scroll;
}

li:hover{
    background-color: rgb(88, 88, 88)!important; 
}

.selected{
    background-color: rgb(88, 88, 88)!important;
}